@media screen and (max-width: 450px) {
    .portfolio__header_h1 {
        font-size: 40px;
    }
    .header__logo_h1{
        font-size: 22px;
    }
    .header__logo_p{
        font-size: 20px;
    }
    .header__menu_portfolio ul a{
        font-size: 15px;
    }
  }
  
  @media screen and (max-width: 350px) {
    .portfolio__header_h1 {
        font-size: 30px;
    }
  }