@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allura&family=Playfair+Display:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allura&family=Playfair+Display:wght@500&family=Playfair:opsz,wght@5..1200,300&display=swap');


.categories {
  display: flex;
  flex-direction: column;
  &__iconContainer {
    display: flex;
    justify-content: space-around;
  }
  &__h1 {
    text-align: center;
    font-family: "Playfair", serif;
    font-size: 40px;
  }
  &__icon {
    width: 23%;
    display: flex;
    flex-direction: column;
    padding: 10px 10px;

    &_h2 {
      text-align: center;
      font-family: "Playfair", serif;
      font-size: 30px;
    }
    &_img {
      background-color: rgb(149, 149, 149);
      padding: 20px 20px;
    }
  }
}
.content {
  display: flex;
  .price {
    width: 23%;
    height: 400px;
    text-align: center;
   
    &__block {

      width: 100%;
      background-image: url("../img/love/photo_2_2023-09-19_12-15-18.jpg");
      background-position: center;
      background-size: cover;
      position: relative;
      &_info {
        background-color: rgba(255, 255, 255, 0.7);
        height: 30%;
        position: absolute;
        ul {
          text-align: center;
        }
      }
    }
  }
}

.contactWeb {
  width: 100%;
  display: flex;
  justify-content: center;
  &__line{
    height: 150px;
    width: 2px;
    background-color: rgb(125, 125, 125);
    border: 1px solid rgb(125, 125, 125);
    opacity: 0.6;
  }
  &__h1 {
    text-align: center;
    padding: 20px 0;
    font-size: 40px;
    font-family: 'Playfair', serif;
    
  }
  &__icon {
    padding: 20px;
    width: 22%;
    &_item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      img {
        width: 20%;
        opacity: 0.4;
      }
      h2 {
        font-size: 30px;
      }
      h3 {
        font-size: 20px;
        opacity: 0.5;
      }
    }
  }
}
.contactWeb__h1 {
}
.contactWeb__icon {
}
.contactWeb__icon_item {
}
.item_name {
}
.item_contact {
}
